**Instituto de Informática - UFG**

**Disciplina: Information Visualization 2020/1**

**Professor: Hugo Alexandre Nascimento Dantas**

**Alunos: Victor Alexandre de Carvalho Coelho**

###**Description**


 In this notebook we will do the data cleaning in the [Brasil.io's](https://brasil.io/dataset/covid19/caso_full/) and [Our World in Data's (OWID)](https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv) COVID-19 datasets to help us answer the question: **When the COVID-19 outbreak began in all countries and how it has spread between states and cities in Brazil over time?**

### Cleaning of Our World in Data's (OWID) COVID-19

In [ ]:
#This cell is to mount our google drive to save the resulting csv files there

#from google.colab import  drive
#drive.mount('/drive')

Mounted at /drive

In [ ]:
#This is the main tool we will be using to work with the datasets
import pandas as pd

In [ ]:
#Let's a dataframe with the Our World in Data's (OWID) COVID-19 dataset
df = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv", header = None)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:

#The first line contains the columns name, therefore, we will remove it and set as a dataset header
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

df.head()

0 iso_code continent  ... life_expectancy human_development_index
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498
5      AFG      Asia  ...           64.83                   0.498

[5 rows x 52 columns]

In [ ]:
#Let's check if our columns are with the correct name
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'total_vaccinations_per_hundred', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object', name=0)

In [ ]:
#Let's see how many lines and columns our dataset have
df.shape

(57237, 52)

In [ ]:
#Let's get only the columns that help us answer the main question
spread_dataset = df[['location', 'date', 'total_cases']].copy()

#Remove the lines with NaN values (missing values)
spread_dataset = spread_dataset.dropna(subset = ['total_cases'])
spread_dataset.head()

0     location        date total_cases
1  Afghanistan  2020-02-24         1.0
2  Afghanistan  2020-02-25         1.0
3  Afghanistan  2020-02-26         1.0
4  Afghanistan  2020-02-27         1.0
5  Afghanistan  2020-02-28         1.0

In [ ]:
#Let's see how many lines and columns our dataset have
spread_dataset.shape

(56671, 3)

In [ ]:
#Let's get only the first occurrence of covid cases in each country. 
spread_dataset = spread_dataset.drop_duplicates(subset=['location'])

In [ ]:
spread_dataset.head(15)

0                location        date total_cases
1             Afghanistan  2020-02-24         1.0
312               Albania  2020-03-09         2.0
609               Algeria  2020-02-25         1.0
919               Andorra  2020-03-02         1.0
1223               Angola  2020-03-20         1.0
1509  Antigua and Barbuda  2020-03-13         1.0
1832            Argentina  2020-03-03         1.0
2135              Armenia  2020-03-01         1.0
2440            Australia  2020-01-26         4.0
2780              Austria  2020-02-25         2.0
3090           Azerbaijan  2020-03-01         3.0
3395              Bahamas  2020-03-16         1.0
3685              Bahrain  2020-02-24         1.0
4001           Bangladesh  2020-03-08         3.0
4299             Barbados  2020-03-17         2.0

In [ ]:
#Let's see how many lines and columns our dataset have after removing all duplicates
spread_dataset.shape

(191, 3)

In [ ]:
#We can export the dataset as a csv file to our drive with the command in the line below
#spread_dataset.to_csv('/drive/My Drive/facu/Visualização de Informações/spread_dataset.csv')


#Let's export our dataset to a csv file
spread_dataset.to_csv('spread_dataset.csv')
#Let's save the file in our local machine
files.download('spread_dataset.csv')

####With this file I have built a visualization to answer **when covid outbreak began in all countries**. It can be seen here on [Tableau Public](https://public.tableau.com/profile/victor.alexandre#!/vizhome/CovidVisualizations_16095185598260/Covidoutbreakworldwide) or you can see an animation of it on [Youtube](https://youtu.be/B2z6AlPl_lE).

### Cleaning of Brasil.io's COVID-19

In [ ]:
#Let's download the dataset
!wget https://data.brasil.io/dataset/covid19/caso_full.csv.gz

--2021-01-01 20:12:54--  https://data.brasil.io/dataset/covid19/caso_full.csv.gz
Resolving data.brasil.io (data.brasil.io)... 104.26.9.175, 172.67.71.45, 104.26.8.175, ...
Connecting to data.brasil.io (data.brasil.io)|104.26.9.175|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40835911 (39M) [application/gzip]
Saving to: ‘caso_full.csv.gz’

caso_full.csv.gz    100%[===================>]  38.94M  11.3MB/s    in 3.8s

2021-01-01 20:12:58 (10.4 MB/s) - ‘caso_full.csv.gz’ saved [40835911/40835911]

In [ ]:
#Let's see if the file is in google colab virtual machine
!ls

caso_full.csv.gz  sample_data

In [ ]:
#Let's extract the file
!gzip -d caso_full.csv.gz

In [ ]:
#Let's check if the file was extracted successfully
!ls

caso_full.csv  sample_data

In [ ]:
#Let's build another dataframe with the Brasil.io's dataset
df = pd.read_csv('caso_full.csv')

In [ ]:
#Let's see how many lines and columns our dataset have
df.shape

(1320828, 18)

In [ ]:
df.tail(10)

            city  city_ibge_code        date  ...  state  new_confirmed  new_deaths
1270256  Xambioá       1722107.0  2020-12-22  ...     TO              9           0
1275872  Xambioá       1722107.0  2020-12-23  ...     TO              0           0
1281488  Xambioá       1722107.0  2020-12-24  ...     TO              0           0
1287104  Xambioá       1722107.0  2020-12-25  ...     TO              0           0
1292720  Xambioá       1722107.0  2020-12-26  ...     TO              0           0
1298336  Xambioá       1722107.0  2020-12-27  ...     TO              0           0
1303952  Xambioá       1722107.0  2020-12-28  ...     TO              0           0
1309568  Xambioá       1722107.0  2020-12-29  ...     TO              0           0
1315184  Xambioá       1722107.0  2020-12-30  ...     TO             14           0
1320800  Xambioá       1722107.0  2020-12-31  ...     TO              0           0

[10 rows x 18 columns]

In [ ]:
#Drop state values(rows), we are going to consider only the city ones
df = df[df['place_type'] != 'state']

In [ ]:
#Let's see how many lines and columns our dataset have
df.shape

(1312886, 18)

In [ ]:
#Let's check if there is any row with missing city's name
df[df['city'].isnull()]

Empty DataFrame
Columns: [city, city_ibge_code, date, epidemiological_week, estimated_population, estimated_population_2019, is_last, is_repeated, last_available_confirmed, last_available_confirmed_per_100k_inhabitants, last_available_date, last_available_death_rate, last_available_deaths, order_for_place, place_type, state, new_confirmed, new_deaths]
Index: []

Não há nenhuma linha em que o nome da cidade esteja faltando.

In [ ]:
#Let's get only the columns that help us answer the main question
#We are saving the ibge code to do a join with the coordinates values (Latitude and Longitude)
spread_covid_brazil = df[['city_ibge_code', 'city', 'date', 'new_confirmed']].copy()

In [ ]:
spread_covid_brazil.head(10)

      city_ibge_code        city        date  new_confirmed
2738       1200013.0  Acrelândia  2020-03-29              2
3105       1200013.0  Acrelândia  2020-03-30              4
3507       1200013.0  Acrelândia  2020-03-31              1
3956       1200013.0  Acrelândia  2020-04-01              1
4442       1200013.0  Acrelândia  2020-04-02              0
4976       1200013.0  Acrelândia  2020-04-03              1
5562       1200013.0  Acrelândia  2020-04-04              0
6187       1200013.0  Acrelândia  2020-04-05              0
6856       1200013.0  Acrelândia  2020-04-06              0
7585       1200013.0  Acrelândia  2020-04-07              0

In [ ]:
#Let's change negative values of confirmed cases to zero
spread_covid_brazil.loc[spread_covid_brazil['new_confirmed'] < 0, 'new_confirmed'] = 0

In [ ]:
#Let's check if there is any row with negative values of confirmed cases
spread_covid_brazil[spread_covid_brazil['new_confirmed'] < 0]

Empty DataFrame
Columns: [city_ibge_code, city, date, new_confirmed]
Index: []

In [ ]:
#Let's see what is the max value of confirmed cases in one day
spread_covid_brazil['new_confirmed'].max()

19345

In [ ]:
#Let's check if there is missing values of 'date'
spread_covid_brazil[spread_covid_brazil['date'].isnull()]

Empty DataFrame
Columns: [city_ibge_code, city, date, new_confirmed]
Index: []

In [ ]:
#Let's see how many lines and columns our dataset have
spread_covid_brazil.shape

(1312886, 4)

In [ ]:
#We can export the dataset as a csv file to our drive with the command in the line below
#spread_covid_brazil.to_csv('/drive/My Drive/facu/Visualização de Informações/spread_covid_brazil.csv', float_format='%.f')


#Let's export our dataset to a csv file.
#Obs: We are exporting the float items  (IBGE CODE) without decimal values, so, basically we are converting it to an integer 
spread_dataset.to_csv('spread_covid_brazil.csv', float_format='%.f')
#Let's save the file in our local machine
files.download('spread_covid_brazil.csv')

####With this file I have built a visualization to answer **how covid has spread in Brazilian cities**. It can be seen here on [Tableau Public](https://public.tableau.com/profile/victor.alexandre#!/vizhome/CovidspreadinBrazilcities/Brazilcovidpropagation) or you can see an animation of it on [Youtube](https://youtu.be/e_KA9tVyQCI).